* {
  /* border: 2px solid #000; */
}

li a {
  color: red;
}

h1 + h3 {
  /* Seletor Adjacente */
  /* Seletor Adjascente seleciona o primeiro item após a o primeiro seletor  */
  color: purple;
}

a[href="#"] {
  color: green;
}

li:nth-of-type(3) {
  /* odd - numeros impares */
  color: coral;
}
